<header>
  <div class="nav-top" >
      YOU ARE BROWSING: <u>Gauteng Online</u>
          <form *ngIf="cust?.name == null">
              <button><u><a routerLink="/app-login">LOG IN</a></u></button>
              |
              <button><u><a routerLink="/app-register">SIGN UP</a></u></button>
          </form>

          <div class="cst" *ngIf="cust?.name != null">
            Hello, {{cust.name}}! Your Account <mat-icon style="float: right;margin-top:-5px">expand_more</mat-icon>
          </div>
  </div>

  <div class="nav-middle">
      <div class="logo">
          <a routerLink="/app-home"><img src ='/app/images/header/onlineshopping_logo.png'></a>
      </div>
      <div class="flt-right">
          <form>
            <input type="search" name="search" placeholder="I'm looking for"><button class="gicon-btn"><span class="glyphicon glyphicon-search"></span></button>
            <button mat-raised-button type="submit" name="favourites" class="btn1">
                <mat-icon style="font-size:20px;">favorite_border</mat-icon> 
                FAVOURITES
            </button>
            <button mat-raised-button type type="submit" name="shopList" class="btn2">
                <mat-icon>list</mat-icon>
                SHOPPING LIST
            </button>
            <img src="/app/images/header/delivery-icon-nav.png">
            <div class="qty">{{numItmz}}</div>
            <img class="trolley" src="/app/images/header/trolley.png" routerLink="/app-cart">
          </form>
      </div>

  </div>
  <div class="nav-bottom">
      <div class="dropdown">
          <button routerLink="/app-aisle" class="dropbtn">SHOP BY AISLE</button>
          <div class="dropdown-content">
              <a *ngFor="let aisleM of aisleMod" (click)="setAisle(aisleM)">{{aisleM.name}}</a>
          </div>
      </div>
      <div class="dropdown">
          <button class="dropbtn">SPECIALS</button>
          <div class="dropdown-content">

          </div>
      </div>
      <div class="dropdown">
          <button class="dropbtn">INSPERATION & OCCASIONS</button>
          <div class="dropdown-content">

          </div>
      </div>
      <div class="dropdown">
          <button class="dropbtn">RECIPES</button>
          <div class="dropdown-content">
              <a href="#">SUMMER SAVINGS</a>  
              <a href="#">ITALIAN FESTIVAL</a>
              <a href="#">NEW FRESHRANGE</a>
              <a href="#">BRAAI</a>
              <a href="#">BURGER FRIDAYS!</a>
              <a href="#">SOIREE WITH PICK N PAY</a>
              <a href="#">ALL ABOUT GIN</a>
              <a href="#">HERITAGE DAY RECIPES</a>
          </div>
      </div>
      <div class="dropdown">
          <button class="dropbtn" routerLink="/app-competition">COMPETITIONS</button>
          <div class="dropdown-content">

          </div>
      </div>
      <div class="dropdown">
          <button class="dropbtn" routerLink="/app-catalougue">IN-STORE CATALOGUES</button>
          <div class="dropdown-content">
          </div>
      </div>
  </div>
</header>