<app-register-header></app-register-header>
<div class="register">
  <h1>Please enter your details below</h1>
  <div class="div2">
    <h2>Sign up in seconds to start shopping online, and get groceries and more delivered to your door.</h2>
    <div class="ulDiv">
      <form >
        <table>
          <tbody>
            <tr>
              <td>
                <label>Email address</label>
              </td>
              <td>
                <input pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              </td>
              <td class="erros" style="border:none;">
                <!--Email address validation-->
              </td>
            </tr>
            <tr style="height:5px;"></tr>
            <tr>
              <td>
                <label>Password</label>
              </td>
              <td>
                <input>
              </td>
              <td class="erros" style="border:none;">
                <!--Password validation-->
              </td>
            </tr>
            <tr style="height:5px;"></tr>
            <tr>
              <td>
                <label>Confirm password</label>
              </td>
              <td>
                <input>
              </td>
              <td class="erros" style="border:none;">
                <!--Confirm password validation-->
              </td>
            </tr>
            <tr>
              <td>
                <label for="title">Title</label>
              </td>
              <td>
                  <select>
                    <option value="ms">Ms</option>
                    <option value="mrs">Mr</option>
                    <option value="miss">Miss</option>
                    <option value="mr">Mr</option>
                    <option value="dr">Dr</option>
                    <option value="prof">Prof</option>
                  </select>
              </td>
              <td class="erros" style="border:none;">
                  <!--Title Validation-->
                </td>
            </tr>
            <tr>
              <td style="width:225px;">
                <label>First Name</label>
              </td>
              <td style="width:285px;">
                <input>
              </td>
              <td class="erros" style="border:none;">
                <!--First name validation-->
              </td>
            </tr>
            <tr style="height:5px;"></tr>
            <tr>
              <td>
                <label>Surname</label>
              </td>
              <td>
                <input>
              </td>
              <td class="erros" style="border:none;">
                <!--Surname validation-->
              </td>
            </tr>
            <tr style="height:5px;"></tr>
            <tr>
              <td>
                <label for="idType">Type of identification</label>
              </td>
              <td style="border:none;">
                  <input type="radio" name="idType" style="transform: scale(0.3);display:inline;">ID number
                  <input type="radio" name="idType" style="transform: scale(0.3);display:inline;">Passport number
              </td>
              <td class="erros" style="border:none;">
                  <!--Title Validation-->
                </td>
            </tr>
            <tr style="height:5px;"></tr>
            <tr>
              <td>
                <label for="idNum">ID number</label>
              </td>
              <td>
                  <input>
              </td>
              <td class="erros" style="border:none;">
                  <!--Title Validation-->
                </td>
            </tr>
            <tr style="height:5px;"></tr>
            <tr>
              <td>
                <label for="cell">Cell number</label>
              </td>
              <td>
                  
              </td>
              <td class="erros" style="border:none;">
                  <!--Title Validation-->
                </td>
            </tr>
          </tbody>
        </table>  
        <div class="marketing">
          <p>How would you like to receive your marketing communication from us?</p>
          <div class="chkbx">
            <input type="checkbox"> Email
            <input type="checkbox"> SMS
            <input type="checkbox"> Post
          </div>
          <p>Please read our terms and conditions. By registering you agree to accept them.</p>
          <textarea disabled>
              GENERAL
              Pick n Pay reserves the right to alter or change operational conditions of the smart shopper card programme or to terminate it at any point. In the event of programme termination, smart shopper points will remain valid for 30 days. Points switched to cash on the customer's smart shopper card will not be affected.
              In the event you wish to opt-out of the of the smart shopper programme, please contact Pick n Pay Call Centre at 0800 11 22 88
              Any abuse whatsoever of the smart shopper card by any person constitutes a criminal offence and Pick n Pay reserves the right to cancel such person’s membership and withhold all smart shopper points from her/his account. Incorrect or invalid cards or card numbers will not be awarded smart shopper points.
              Being registered as a member of the smart shopper programme irrevocably signifies your agreement to the above Terms and Conditions. Pick n Pay, its organisers, promoters, partners or agencies do not bear any responsibility or liability for any loss, damage, injury, accident, death or asset damage howsoever arising from inclusion or participation in the smart shopper programme.
              YOUR PERSONAL DETAILS
              You are required to submit your valid South African ID (or for Non-South African Citizens Passport Number) to register, to switch your smart shopper points, to change your details or manage your smart shopper card and points.
              By providing Pick n Pay with your personal information, you give Pick n Pay permission to send you information regarding its smart shopper programme via telephone, email, post, fax, mail and physical delivery.
              A valid cell phone number, and/or postal address, and/or email address will be required from each holder of a Pick n Pay smart shopper card for all communications. No communication will be sent to phone numbers, postal addresses or email addresses outside South Africa.
              In the event you wish to opt-out of smart shopper communication, please contact Pay n Pay Call Centre at 0800 11 22 88 or change your communication preferences on the Pick n Pay digital channels. Pick n Pay will ensure that it is compliant to the Consumer Protection Act.
              SMART SHOPPER CARD
              The Pick n Pay smart shopper card is issued by and remains the property of the Pick n Pay Group or any of its subsidiary or associated companies. Pick n Pay reserves the right to decline, issue and withdraw the smart shopper card at any time.
              The smart shopper card is not transferable.
              Your Pick n Pay smart shopper card cannot be used as a credit, debit or guarantee card
              For all lost, stolen or defaced cards, complete form in store to complete the process, or contact the Pick n Pay Call Centre on 0800 11 22 88. You can call Pick n Pay to block/deactivate your lost, stolen or defaced card and add a new card
              smart shopper points and switched monetary value attached to the lost/blocked/defaced card can be transferred to your new card. If smart shopper points attached to the card have been switched or donated before the card is blocked, there can be no recovery of smart shopper point’s value. If the monetary value of switched smart shopper points attached to the card have been redeemed instore before the card is blocked, there can be no recovery of smart shopper point’s value. Pick n Pay cannot be held liable for loss of smart shopper points or monetary value.
              EARNING SMART SHOPPER POINTS
              To earn smart shopper points for transactions, the customer must present their Pick n Pay smart shopper card at Pick n Pay points of sale in order for the transactions to be recorded. If no card is presented at point of sale before payment, smart shopper points will not be earned for the transaction. Furthermore it is not possible to earn smart shopper points retrospectively for transactions in the past where the smart shopper card has not been presented. The customer must ensure that their smart shopper card has been captured for all their online shopping transactions, in order to earn points for those transactions.
              For every whole South African Rand spent on point-eligible items, a smart shopper point will be earned. No smart shopper points are earned on Cent amounts. You will receive your smart shopper points within 5 days of a transaction.
              The only transactions for which you do not earn smart shopper points are fuel, tobacco and tobacco related products, PnP Gift card and top up, money transfer, prescription pharmaceutical goods, baby formula (0-36 months),third party services and payments which include, but are not limited to electricity, USA Visa tokens, Axxess ADSL tokens, Hollard Insurance, U-Kash, SAA Cycle voucher, Austrian Visa tokens, Just Surf, Retail Bonds, all lottery tickets, transactions through SAA, bus tickets, Multichoice, traffic fines, Splashout Mall Cards and pension payment. Pick n Pay reserves the right at any time to exempt certain products from earning smart shopper points at its discretion.
              smart shopper points will be reflected on your smart shopper account within 5 days of your purchase.
              Opportunities to earn extra smart shopper points will be given at Pick n Pay’s discretion
              USING YOUR SMART SHOPPER POINTS
              Upon having collected your first 500 smart shopper points (subject to the 5 day period mentioned in point 8. above) you will be able to switch your smart shopper points to cash or donate your smart shopper points to your choice of pre-selected charity organisation. You are not obliged to switch or donate smart shopper points upon gathering 500 smart shopper points. You can save as many as you wish. You can only switch or donate in units of 100 smart shopper points.
              Pick n Pay reserves the right to change the conversion value of smart shopper points at its discretion. Pick n Pay will notify their smart shopper customers in advance if such a change should occur.
              smart shopper points can be switched to their cash value, or a redemption partner, or donated to a charity on any Pick n Pay digital channel, unless otherwise stated.
              smart shopper points and money earned from smart shopper points’ switches will be valid for 3 years. Pick n Pay reserves the right to close any smart shopper account that has been inactive (no smart shopper points earned, switched or donated) for a period of 24 consecutive months. smart shopper points and money attached to closed accounts will be forfeited.
              smart shopper points earned for transactions where goods are later returned will be deducted from your smart shopper points balance on your smart shopper account. Returns are subject to the Pick n Pay returns policy.
              In the case of a prolonged strike or industrial action, Pick n Pay reserves the right to suspend smart shopper points switches to cash for a period to be defined at its discretion.
              VOUCHERS AND PROMOTIONS
              Vouchers may be redeemed at any Pick n Pay store in South Africa.
              Vouchers may only be redeemed with the relevant smart shopper card.
              Printed vouchers or digital voucher codes must be presented to the cashier before paying for your goods.
              A confirmation message will reflect on your till slip when a voucher has been redeemed.
              The voucher will only be valid before the expiry date indicated on the voucher.
              smart shoppers will receive instant savings on selected products in Pick n Pay stores. These promotions will be available for limited periods from time to time. Please note that not all products are available in all stores and special offers may change without notice.
              Pick n Pay may change any instant savings offers at any stage.
              A confirmation message will reflect on your till slip when Instant Savings have been applied.
              Instant savings will not be offered on the Pick n Pay online shop.
              DIGITAL CHANNELS
              Pick n Pay Digital channels are defined as instore kiosks, the PnP website (www.picknpay.co.za) and the mobile application.
              Pick n Pay can not guarantee that the digital channels will be operational at all times.
              smart shopper points look-up, switching, donations and redemption is subject to on-line availability of Pick n Pay digital channels
              THIRD PARTIES
              PnP redemption partners are defined as any organisation with which PnP has an agreement, for smart shoppers to switch their smart shopper points, to the partner’s loyalty points.
              PnP earning partners are defined as any organisation with which PnP has an agreement, for smart shoppers to switch their partner loyalty points to smart shopper points.
              Please visit our website (www.picknpay.co.za) to see all our third party partners.
              Registration for certain third party partners may require the smart shopper customer to contact the third party directly to complete the registration.
              Upon having collected your first 500 smart shopper points (subject to the 5 days period mentioned in point 8. above) you will be able to switch your smart shopper points to any of the redemption partners. You are not obliged to switch or donate smart shopper points upon gathering 500 smart shopper points. You can save as many as you wish. You can only switch or donate in units of 100 smart shopper points.
              Discovery card holders can enrol in the smart shopper card programme and get benefits from both schemes. Presentation and swipe of both cards is required to get the benefits of both schemes.
              The smart shopper programme tailors its offers to meet the customer’s specific needs. In order to achieve this, your personal details may be passed to Pick n Pay’s business partners. Pick n Pay will not share your details with any other company unless it is entirely necessary for the operation of the smart shopper programme. The initial communication to this effect will always be initiated by Pick n Pay.              
          </textarea>
        </div>
        <button>ACCEPT AND REGISTER</button>
      </form>
    </div>
  </div>
</div>
Module:<br/>
