<app-header></app-header>
<div class="mainDiv">
  <div class="div1">
    <div class="item">
      <img src="/app/images/items/product{{prd.id}}/{{item?.image}}">
    </div>
    
    <div class="itemDet">
      <h1>{{item?.name}} {{item?.weight}}</h1>

      <div class="normalPrice">
        R{{item?.price.toLocaleString().substring(0,item?.price.toLocaleString().indexOf('.'))}}<span>{{item?.price.toLocaleString().substring(item?.price.toLocaleString().indexOf('.')+1, item?.price.toLocaleString().indexOf('.')+3)}}</span>
      </div>
      <p><button class="negPos" (click)="subtractOn()">-</button> {{i}} <button class="negPos" style="margin-left: 10px;" (click)="addOn()">+</button></p>
      <button class="add2t">Add to trolley</button>
      <br/>
      <div class="reviews">
        <div class="rating-stars">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
        </div>
        <p>0 Reviews <span style="color:#dee3e8;">|</span> Review this item</p>
      </div>
      <br/>
      <button class="add2l">ADD TO MY LIST</button>
    </div>

    <div class="ssbtn" >
      <button><img src="/app/images/item/download.png">Smart Shopper <span style="float:right">></span> </button>
    </div>
  </div>

  <div class="imgDisply">
    <img src="/app/images/items/product{{prd.id}}/{{item?.image}}">
  </div>

  <div class="product">
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'prodInfo')">PRODUCT INFORMATION &#709;</button>
      <button class="tablinks" onclick="openCity(event, 'reviews')">REVIEWS &#709;</button>
    </div>

    <div id="prodInfo" class="tabcontent" style="display:block">
      <p>DESCRIPTION:
      <span>{{item.description}}</span>
      </p>
      <p>BARCODE: <span>{{item?.barcode}}</span></p>
      
      <div class="tabcontentshade">We recommend that you do not rely solely on this information and always check product labels. Where dietary or other information is important to you please contact Pick n Pay Customer Services if the poduct is Pick n Pay branded or otherwise the product manufacturer. Although we strive to keep this information as accurate as possible, Pick n Pay are unable to accept liability for any incorrect information. This does not affect your statutory rights.</div>
    </div>

    <div id="reviews" class="tabcontent">
      <button>Review This Item</button> 
    </div>
  </div>
</div>
<app-footer></app-footer>