<app-header></app-header>

<div class="trolley">
  <p class="p1"><span style="font-weight: bold;">View</span> Trolley</p>

  <div class="lst">
      <span>1</span>
      <p style="border-color: #8bdb6f;"> View Trolley </p>
      <span>2</span>
      <p> Delivery details </p>
      <span>3</span>
      <p> Order summary </p>
      <span>4</span>
      <p> Checkout </p>
  </div>

  <div class="myTrolley">
    <div class="panel"></div>
    <div class="substitute"></div>
    <div class="filter">
      <button class="select" (click)="slct()">{{select}}</button>
      <button class="collaps" (click)="clp()">{{collaps}}</button>
      <button class="save">save to shopping cart</button>
      <button class="remove">remove selected items</button>
    </div>

    <table>
      <thead>
        <tr>
          <td style="padding-left: 15px;">PRODUCT</td> 
          <td>DESCRIPTION</td>
          <td>QTY</td>
          <td>SUBSTITUTE PREFERENCE & NOTES</td>
          <td>PRICE</td>
        </tr>
      </thead>

    </table>
  </div>
</div>
<app-footer></app-footer>