<app-register-header></app-register-header>
<div class="register">
  <h1>Please enter your details below</h1>
  <div class="div2">
    <h2>Sign up in seconds to start shopping online, and get groceries and more delivered to your door.</h2>
    <div class="ulDiv">
      <form>
        <table>
          <tbody>
            <tr>
              <td ><label>Smart Shopper card number</label></td>
              <td style="width:280px;">
                <input value="735328"><img src="/app/images/register/smartshopper.png">
              </td>
              <td style="border:none;font-size:12px;padding-left:10px;color:#13375a;">
                You'll find this on the back of your card. Don't have a
                <br/> card? Pick one up in store.
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <div class="bt">
        <a routerLink="/app-register-smart-shop-reg">
          <button>NEXT</button>
        </a>
      </div>
    </div>
  </div>
</div>