.register {
    margin-top: 55px;
    font-family: Helvetica, Arial, sans-serif;
    color: #a9a9a9;
}

.register h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.register .div2 {
    margin-top: 30px;
}

.register .div2 h2 {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.register .div2 .ulDiv {
    margin-top: 35px;
}

.register .div2 .ulDiv table {
    margin-left: 30%;
    height: 20px;
    line-height: 15px;
}

.register .div2 .ulDiv table tr td {
    border: solid 1px;
}

.register .div2 .ulDiv table tr td label {
    padding-left: 10px;
    padding-right: 40px;
    color: #575757;
    font-size: 11px;
}

.register .div2 .ulDiv table input {
    border: none;
    padding-left: 8px;
    font-size: 11px;
    width: 85%;
    color: #767676;
    height: 100%;
}

.register .div2 .ulDiv table img {
    padding-right: 0px;
    width: 40px;
    float: right;
}

.register .div2 .ulDiv .bt {
    text-align: center;
    margin-top: 55px;
}

.register .div2 .ulDiv button {
    text-align: center;
    background: #13375a;
    border: none;
    color: #fff;
    width: 260px;
    height: 40px;
    font-size: 10px;
    font-weight: 600;
    text-shadow: -1px -1px;
    text-shadow: 1px 1px;
}