<app-register-header></app-register-header>
<div class="register">
  <h1>Welcome to Pick n Pay Online</h1>
  <div class="div2">
    <h2>Sign up with your Smart Shopper card to:</h2>
    <div class="ulDiv">
      <ul>
        <li> <b>Instantly shop</b> your previous in-store purchases</li>
        <li> <b>Create shopping lists</b> for faster shopping and checkout</li>
        <li>View your personalised <b>Smart Shopper discounts</b> </li>
      </ul>
    </div>
  </div>
  <div class="buttons">
    <button class="btn1" routerLink="/app-register-smart-shopper"><img src="app/images/register/ss-icon.png">I have a <br> Smart Shopper card</button>
    <button class="btn2" routerLink="/app-register-online"><img src="app/images/register/trolly-icon.png">I don't have a <br> Smart Shopper card</button>
  </div>
</div>